:root{
  --border-radius: 10px;
  --font:'DM Sans', sans-serif;

  /*DARK VERSION COLORS*/
  --background-color:#222131; 
  --card-menu-color: #39394b;
  --border-color:#2C3240;
  --btn-color:#605CFF;
  --btn-hover:#4742FD;
  --btn-active:#302BFF;
  --text-color:#ffffff;
  --grey-text-color:#abadbf;

  --brand-primary--color:#6254FF;
  --brand-secondary--color:#ff69b4;
}

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100svh;
  background-color: var(--background-color);
  font-family: var(--font);
  color: var(--text-color);
}

#page-wrapper{
  display: grid;
  grid-template-columns: 218px 1fr;
  grid-template-rows: 70px 130px 1fr;
  gap: 30px;
  height: 1077px;
  padding-right: 30px;
}
#header{
  grid-column: 2/3;
  height: 46px;
  
  display: flex;
  justify-content: space-between;

  margin-top: 25px;
}
#header h1{
  font-weight: 700;
  font-size: 1.5rem;
}

.date-button{
  background-color: var(--btn-color);
  border-radius: 5px;
  border: 3px solid var(--btn-color);
  color:var(--text-color);
  cursor: pointer;
  font-family: var(--font);
  padding: 9px 32px;
}
.date-button:hover{
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
}
.date-button:active{
  background-color: var(--btn-active);
  border-color: var(--btn-active);
}
.date-button img{
  filter: invert(1);
  margin-left: 10px;
}

#product-section{
  align-items: center;
  grid-area: 2 / 2 / 3 /3;
  display: flex;
  justify-content: space-between;}

.product-card{
  align-items: center;
  background-color: var(--card-menu-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  width: 22%;
  height: 100%;
}
.product-card div{
  margin-left: 25px;
}

.undertext{
  color: var(--grey-text-color);
  font-size: .875rem;
  font-weight: 400;
}
#navbar{
  background-color: var(--card-menu-color);
  grid-row: 1 / 4;
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr;
  grid-template-rows: 124px auto 1fr auto;
}

#navbar-logo{
  align-items: center;
  display: flex;
  justify-content: center;
}

#navbar-logo img{
  height: 60px;
  width: 60px;
}

.navbar-link{
  align-items: center;
  color: var(--grey-text-color);
  cursor: pointer;
  display: flex;
  padding-left: 27px;
  position: relative;
  height: 48px;
}
.navbar-link::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  background-color: #FFF;
  border-radius: 0px 5px 5px 0px;
  opacity: 20%;
  width: 53px;

  transform: translateX(-59px);
  transition: all 0.25s;
}

.navbar-link:hover::before{
  transform: translateX(0px);
}

.navbar-category-name{
  margin-left: 16px;
}

.navbar-notifications{
  background-color:#ff69b421; /*?? IDK how to change the opacity from HEX variable :/ */
  color: var(--brand-secondary--color);

  border-radius: 7px;
  font-size: .625rem;
  padding: 1px 5px;
  margin-left: 30px;
}
.current-category{
  color: var(--brand-primary--color);
}

#content{
  display: grid;
  gap: 20px;
  grid-area: 3 / 2 / 4 / 3;
  grid-template-columns: 2fr 1.1fr;
  grid-template-rows: 1.3fr 1fr;

  padding-bottom: 30px;
}

.card{
  background-color: var(--card-menu-color);
  border-radius: var(--border-radius);
}
