:root{
  --border-radius: 10px;
  --font:'DM Sans', sans-serif;

  /*DARK VERSION COLORS*/
  --background-color:#222131; 
  --card-menu-color: #39394b;
  --border-color:#2C3240;
  --btn-color:#605CFF;
  --btn-hover:#4742FD;
  --btn-active:#302BFF;
  --text-color:#ffffff;
  --grey-text-color:#abadbf;
  --horizontal-line-color:#454A56;

  --brand-primary--color:#6254FF;
  --brand-secondary--color:#ff69b4;
}

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100svh;
  background-color: var(--background-color);
  font-family: var(--font);
  color: var(--text-color);
}

.main-business-btn{
  background-color: var(--btn-color);
  border: 3px solid var(--btn-color);
  color:var(--text-color);
  cursor: pointer;
  font-family: var(--font);
}

.main-business-btn:hover{
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
}

.main-business-btn:active{
  background-color: var(--btn-active);
  border-color: var(--btn-active);
}

#page-wrapper{
  display: grid;
  grid-template-columns: 218px 1fr;
  grid-template-rows: 70px 130px 1fr;
  gap: 30px;
  height: 1077px;
  padding-right: 30px;
}

/*HEADER*/

#header{
  grid-column: 2/3;
  height: 46px;
  
  display: flex;
  justify-content: space-between;

  margin-top: 25px;
}
#header h1{
  font-weight: 700;
  font-size: 1.5rem;
}

.date-button{
  border-radius: 5px;
  padding: 9px 32px;
}

.date-button img{
  filter: invert(1);
  margin-left: 10px;
}

#category-section{
  align-items: center;
  grid-area: 2 / 2 / 3 /3;
  display: flex;
  justify-content: space-between;
}

/*CATEGORIES ROW*/

.category-card{
  align-items: center;
  background-color: var(--card-menu-color);
  border-radius: var(--border-radius);
  display: flex;
  cursor: pointer;
  justify-content: center;
  width: 22%;
  height: 100%;
}
.category-card div{
  margin-left: 25px;
}
.category-card:hover{
  outline: 1px solid black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.undertext{
  color: var(--grey-text-color);
  font-size: .875rem;
  font-weight: 400;
}

.current-category{
  color: var(--brand-primary--color);
}

/*NAVBAR*/

#navbar{
  background-color: var(--card-menu-color);
  grid-row: 1 / 4;
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr;
  grid-template-rows: 124px auto 1fr auto;
}

#navbar-logo{
  align-items: center;
  display: flex;
  justify-content: center;
}

#navbar-logo img{
  height: 60px;
  width: 60px;
}

.navbar-link{
  align-items: center;
  color: var(--grey-text-color);
  cursor: pointer;
  display: flex;
  padding-left: 27px;
  position: relative;
  height: 48px;
}
.navbar-link::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  background-color: #FFF;
  border-radius: 0px 5px 5px 0px;
  opacity: 20%;
  width: 53px;

  transform: translateX(-59px);
  transition: all 0.25s;
}

.navbar-link:hover::before{
  transform: translateX(0px);
}

.navbar-category-name{
  margin-left: 16px;
}

.navbar-notifications{
  background-color:#ff69b421; /*?? IDK how to change the opacity from HEX variable :/ */
  color: var(--brand-secondary--color);

  border-radius: 7px;
  font-size: .625rem;
  padding: 1px 5px;
  margin-left: 30px;
}

#navbar-upgrade{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.upgrade-btn{
  border-radius: 10px;
  margin-top: -48px;
  padding: 8px 31px;
}

#account-info{
  margin: 30px 25px;
  align-items: center;
  display: flex;
  justify-content: space-between;

}

#account-info span{
  display: block;
  cursor: pointer;
  font-size: .75rem;
}

#account-info span:hover{
  text-decoration: underline;
}

.profile-pic{
  border-radius: 12px;
  cursor: pointer;
  object-fit: cover;
  height: 45px;
  width: 43px;
}

/*MAIN DASHBOARD CONTENT*/

#content{
  display: grid;
  gap: 20px;
  grid-area: 3 / 2 / 4 / 3;
  grid-template-columns: 2fr 1.1fr;
  grid-template-rows: 1.3fr 1fr;

  padding-bottom: 30px;
}

.card{
  background-color: var(--card-menu-color);
  border-radius: var(--border-radius);
}

.card-top{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.card-top img{
  cursor: pointer;
}

.card-top h2{
  font-weight: 400;
  font-size: 1.125rem;
}

/*GRADIENT GRAPH*/

.chart-wrapper{
  margin-left: 20px;
  width: 96%;
  height: 80%;
}
/*RECENT ORDERS CARD*/

#recent-order-card{
  padding-bottom: 20px;
}

table, td, th {
  font-size: .75rem;
  font-weight: 400;
}

table{
  width: 93%;
  margin: 0 auto;
}

td, th{
  text-align: center;
  vertical-align:middle;
}
.td:first-child,th:first-child{
  width: 15%;
}
th{
  padding: 15px 0;
  border-bottom: 1px solid var(--horizontal-line-color);
}

td{
  padding: 10px 0;
}

td:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

td:nth-child(2),th:nth-child(2){
  text-align: left;
}

td:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tr:not(:first-child):nth-child(odd){
  background-color: var(--background-color);
}

td img{
  vertical-align:middle;
  margin-right: 10px;
}

td:nth-child(4),th:nth-child(4){
  display: flex;
  justify-content: center;
}

.total-order{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 30px;
  border-radius: 8px;
}

/*PRODUCT CARD*/

#product-card hr{
  background-color: var(--horizontal-line-color);
  border: none;
  height: 1px;
  margin: 22px auto;
  width: 90%;
}
.product-wrapper{
  align-items: center;
  display: flex;
  padding-left: 25px;
}

.product-info{
  margin-left: 20px;
}

.product-name{
  cursor: pointer;
}

.product-name:hover{
  text-decoration: underline;
}
.product-stars{
  margin: 6px 0;
  color: #ff69b45a; /*i still don't know how to make colors from variables transparent... */
}

.checked{
  color:var(--brand-secondary--color);
}
.product-img-wrapper{
  border-radius: 10px;
  overflow: hidden;
  height: 96px;
  width: 96px;
}
.product-wrapper img{
  cursor: pointer;
  object-fit: cover;
  object-position:bottom;
  height: 100%;
  width: 100%;
  transition: all .25s;
}

.product-wrapper img:hover{
  transform: scale(1.2);
}